alias pushd='git add . && git commit -m "Entra21" && git push entra21-java-2022';
alias gogit='cd ~ && cd Documents/git/entra21-java-2022';


function push() {
  git add .;
  read comm
  if [ "$comm" == "" ]
  then
    echo git commit -m "Entra21-2022";
    git commit -m "Entra21-2022";
  else
    echo git commit -m \"$comm\";
    git commit -m \"comm\";
  fi
  git push entra21-java-2022;
}
