*{font-family: 'Poppins';font-size: 22px;color: whitesmoke;}
/* almarai-regular - arabic */
html{
    background-color: #404b6f;
}
main{
    width: 60%;
    padding: 100px 20%;
}
li{
    list-style-type: circle;
}
a{
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
}
a:hover{
    /* !important tem prioridade sobre outras modificações */
    color: springgreen!important;
    transition: 0.5s;
    margin-left: 10px;;
}
a[id=menu]{color: rgb(226, 145, 38);}
#temas{display: flexbox;}
.green-text{color: springgreen;}
/* tudo exceto definido, terá está formatação */
:not(a, h1, h3){color: whitesmoke;}

/* table */
table{
    /* border: 3px solid rgb(39, 39, 39); */
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 25%;
}
thead tr{
    border-radius: 25%;
    background-color: #3b3b7e;
}
tr{border-bottom: 1px solid #292929;}
td,th{padding: 8px;}
tfoot tr{border-bottom: 0;}
tfoot tr.sum td{text-align: right;}

/* selecionar item por ordem (1º, 2º e ultimo td) */
td:first-child{width: 25%;}
td:nth-child(2){width: 25%;}
td:last-child{width: 50%;}


/* media-query */
@media screen and (max-width: 800px) {
    main{
        width: 90%;
        padding: 50px 5%;
    }
    h2{
        font-size: 50px;
        color: #40E0D0!important;
    }
    a{
        color: #4735aa;
        background: white;
        padding: 4px 20px;
        box-shadow: 0px 2px 5px 1px #313131;
    }
    a:hover{
        animation: backgroundRotate .5s infinite !important;
        color: black !important;
    }
    ul{
        padding-left: 0;
    }
    li{
        width: 70%;
        display: grid;
        margin-top: 10px;
        padding: 0 15%;
    }
}


/* keyframes */
.txt-color_rotate{animation: colorRotate 2s infinite;}
@keyframes colorRotate{
    0%{color: #DFFF00;}
    25%{color: #9FE2BF;}
    50%{color: #40E0D0;}
    75%{color: #6495ED;}
    100%{color: #CCCCFF;}
}
@keyframes backgroundRotate{
    0%{background-color: #DFFF00;}
    25%{background-color: #9FE2BF;}
    50%{background-color: #40E0D0;}
    75%{background-color: #6495ED;}
    100%{background-color: #CCCCFF;}
}

.h-stylish{
    animation: colorRotate 2s infinite;
    padding-left: 27%;
    text-shadow: 4px 4px 5px #313131;
}

/* form & inputs */
input[type=text], input[type=number], input[type=date], input[type=password]{
    background-color: whitesmoke;
    border: 0;
    color: gray;
    display: block;
    margin: 15px 8%;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
input[type=file]{
    border-radius: 12px;
}